@using INTRANET.Models
@model  HrCvVM

@{
    ViewBag.Title = Model.EmployeeName + " - Fill CV";
}

<div class="container">

    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-lg-12">
            <div>
                @using (Html.BeginForm("FillCV", "HrCv", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.EmployeeId)
                    @Html.HiddenFor(m => m.Language)
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal details</a></li>
                        <li role="presentation"><a href="#labor" aria-controls="labor" role="tab" data-toggle="tab">Labor</a></li>
                        <li role="presentation"><a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a></li>
                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="personal">
                            <br />
                            @using (Html.BeginForm("FillCv", "HrCv", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {

                                <input type="hidden" id="employeeId" name="EmployeeId" value="@Model.EmployeeId">
                                <input type="hidden" id="language" name="Language" value="@Model.Language">

                                <div class="form-group">
                                    <label for="photo">Photo:</label>
                                    <div class="form-group col-lg-12">
                                        <input type="file" accept="image/*" class="custom-file-input" id="fileItem" name="fileItem">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <div class='input-group date'>
                                        <input readonly type='text' class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="position">Position:</label>
                                    <div class='input-group date'>
                                        <input readonly type='text' class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="startPositionDate">Start date:</label>
                                    <div class='input-group date'>
                                        <input readonly type='text' class="form-control" value="5/5/2015" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <div class='input-group'>
                                        <input type='text' id="phone" name="Phone" class="form-control" data-val-required="Phone number is required" />
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "error" })


                                    </div>
                                </div>
                                    <div class="form-group">
                                        <label for="phone">Phone external:</label>
                                        <div class='input-group'>
                                            <input type='text' id="phoneExternal" name="ExternalPhone" class="form-control" data-val-required="External Phone number is required" />
                                            @Html.ValidationMessageFor(model => model.ExternalPhone, "", new { @class = "error" })
                                        </div>
                                    </div>


                            }

                            <div class="btn-group pull-right">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-primary btn-next">Next</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="labor">
                            <p>Education</p>
                            <br />
                            <div class="btn-group">
                                <a href="#" class="btn btn-warning btn-previous">Previous</a>
                            </div>
                            <div class="btn-group pull-right">
                                <div class="pull-right">
                                    <a href="#" class="btn btn-primary btn-next">Next</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="family">
                            <p>Family</p>
                            <br />
                            <div class="btn-group">
                                <a href="#" class="btn btn-warning btn-previous">Previous</a>
                            </div>
                            <div class="btn-group pull-right">
                                <div class="pull-right">
                                    <button class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/hrFillCv.css" rel="stylesheet" runat="server" />
}

@section scripts {

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        $('.btn-next').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btn-previous').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#fileItem').change(function () {
                var filename = $(this).val();
                var filePath = $.trim(filename);
                if (filePath == "") {
                    alert("Please browse a file to upload");
                    return;
                }

                var $ext = filePath.split(".").pop().toLowerCase();
                var $allow = new Array("png", "jpg");
                if ($.inArray($ext, $allow) == -1) {
                    alert("Only image files (.png, .jpg) are accepted, please browse a image file");
                    return;
                }
            })
        });
    </script>

}