@using INTRANET.Models

@using INTRANET.Model
@model  HrCvVM

@{
    ViewBag.Title = Model.EmployeeName + " - Fill CV";
}

<div class="container">

    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-lg-12">
            <div>
                @using (Html.BeginForm("FillCV", "HrCv", new { employeeId = Model.EmployeeId, language = Model.Language }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.EmployeeId)
                    @Html.HiddenFor(m => m.Language)
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                        <li><a href="#personal" data-toggle="tab">Personal details</a></li>
                        <li><a href="#additional" data-toggle="tab">Additional details</a></li>
                        <li><a href="#labor" data-toggle="tab">Labor history</a></li>
                        <li><a href="#family" data-toggle="tab">Relatives</a></li>
                    </ul>
                    <!-- Tab panels -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="general">
                            <br />

                            @Html.HiddenFor(m => m.EmployeeId)
                            @Html.HiddenFor(m => m.Language)


                            <div class="col-md-3">
                                <label for="photo">@Model.GetFieldName(HrCvField.Photo):</label>
                                <div class="form-group">
                                    @if (Model.HasImage)
                                    {
                                        <img width="100%" src="@String.Format("data:image/gif;base64,{0}", Model.ImageContent)" />
                                    }
                                    else
                                    {
                                        <img width="100%" src="~/Content/HrCvImages/no-image.PNG" />
                                    }
                                </div>
                                <div class="form-group">
                                    <p class="hint-text">@Model.GetFieldHint(HrCvField.Photo)</p>
                                </div>
                                <div class="form-group">
                                    <input type="file" accept="image/*" class="custom-file-input" id="fileItem" name="fileItem">
                                </div>
                            </div>
                            <div class="col-md-9">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="department">@Model.GetFieldName(HrCvField.Department):</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="position">@Model.GetFieldName(HrCvField.Position):</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="startPositionDate">@Model.GetFieldName(HrCvField.StartDate):</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.Department)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.Position)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.StartDate)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input readonly type='text' class="form-control" value="@Model.DepartmentName" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input readonly type='text' class="form-control" value="@Model.PositionName" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input readonly type='text' class="form-control" value="@Model.EntryDate.ToShortDateString()" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phone">@Model.GetFieldName(HrCvField.Phone):</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phone">@Model.GetFieldName(HrCvField.ExternalPhone):</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.Phone)</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.ExternalPhone)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "error" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.ExternalPhone, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ExternalPhone, "", new { @class = "error" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-group pull-right">
                                    <div class="pull-right">
                                        <span class="btn btn-primary btn-next"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="personal">
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="DateOfBirth">@Model.GetFieldName(HrCvField.DateOfBirth):</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Nationality">@Model.GetFieldName(HrCvField.Nationality):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.DateOfBirth)</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.Nationality)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input readonly type='text' class="form-control" value="@Model.DateOfBirth.ToShortDateString()" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PlaceOfBirth">@Model.GetFieldName(HrCvField.PlaceOfBirth):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.PlaceOfBirth)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.PlaceOfBirth, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PartyMembership">@Model.GetFieldName(HrCvField.PartyMembership):</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.PartyMembership)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.PartyMembership, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PartyMembership, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="AcademicDegree">@Model.GetFieldName(HrCvField.AcademicDegree):</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="AcademicTitle">@Model.GetFieldName(HrCvField.AcademicTitle):</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EducationDegree">@Model.GetFieldName(HrCvField.EducationDegree):</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="EducationSpeciality">@Model.GetFieldName(HrCvField.EducationSpeciality):</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.AcademicDegree)</p>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.AcademicTitle)</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.EducationDegree)</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <p class="hint-text">@Model.GetFieldHint(HrCvField.EducationSpeciality)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.AcademicDegree, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AcademicDegree, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.AcademicTitle, Model.AcademicTitles, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AcademicTitle, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.EducationDegree, Model.EducationDegrees, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EducationDegree, "", new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.EducationSpeciality, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EducationSpeciality, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <b>@Model.GetFieldName(HrCvField.EducationList):</b>
                                </div>
                            </div>
                            <div class="col-md-12" data-bind='foreach: educations'>
                                <!--for labels and hint messages, need this row for alignemnt of controls-->
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.EducationList_Educations)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Name, attr: {name: 'EducationList[' + $index() + ']'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a href="#" data-bind="click: $root.removeEducation" class="btn btn-danger"><i class=" glyphicon glyphicon-minus"></i></a>
                                            <a href="#" data-bind="click: $root.addEducation" class="btn btn-success"><i class=" glyphicon glyphicon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 btn-container">
                                <div class="btn-group">
                                    <span class="btn btn-warning btn-previous"><i class="glyphicon glyphicon-arrow-left"></i></span>
                                </div>
                                <div class="btn-group pull-right">
                                    <div class="pull-right">
                                        <span class="btn btn-primary btn-next"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="additional">
                            <br />
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="Languages">@Model.GetFieldName(HrCvField.Languages):</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.Languages)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class='input-group'>
                                                @Html.TextBoxFor(m => m.Languages, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Languages, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.AwardsList)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" data-bind='foreach: awards'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> @Model.GetFieldName(HrCvField.AwardsList_Award):</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label> @Model.GetFieldName(HrCvField.AwardsList_Year):</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p> @Model.GetFieldHint(HrCvField.AwardsList_Award)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p> @Model.GetFieldHint(HrCvField.AwardsList_Year)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" data-bind="value: Award,
                                                    options: $root.awardList,
                                                    optionsText: 'Text',
                                                    optionsValue: 'Value',
                                                    attr: {name: 'AwardList[' + $index() + '].Award'}"></select>
                                            </div>
                                        </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Year, attr: {name: 'AwardList[' + $index() + '].Year'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a href="#" data-bind="click: $root.removeAward" class="btn btn-danger"><i class=" glyphicon glyphicon-minus"></i></a>
                                            <a href="#" data-bind="click: $root.addAward" class="btn btn-success"><i class=" glyphicon glyphicon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>@Model.GetFieldName(HrCvField.MembershipList): </label>
                                </div>
                            </div>
                            <div class="col-md-12" data-bind='foreach: memberships'>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.MembershipList_Membership)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Name, attr: {name: 'MembershipList[' + $index() + ']'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a href="#" data-bind="click: $root.removeMembership" class="btn btn-danger"><i class=" glyphicon glyphicon-minus"></i></a>
                                            <a href="#" data-bind="click: $root.addMembership" class="btn btn-success"><i class=" glyphicon glyphicon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 btn-container">
                                <div class="btn-group">
                                    <span class="btn btn-warning btn-previous"><i class="glyphicon glyphicon-arrow-left"></i></span>
                                </div>
                                <div class="btn-group pull-right">
                                    <div class="pull-right">
                                        <span class="btn btn-primary btn-next"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="labor">
                            <br />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Model.GetFieldName(HrCvField.LaborList)</label>
                                </div>
                            </div>
                            <div class="col-md-12" data-bind='foreach: laborDetails'>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.LaborList_Years): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.LaborList_Labor): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <!--for labels and hint messages, need this row for alignemnt of controls-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.LaborList_Years)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.LaborList_Labor)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Years, attr: {name: 'LaborDetailList[' + $index() + '].Years'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Description, attr: {name: 'LaborDetailList[' + $index() + '].Description'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a href="#" data-bind="click: $root.removeLaborDetail" class="btn btn-danger"><i class=" glyphicon glyphicon-minus"></i></a>
                                            <a href="#" data-bind="click: $root.addLaborDetail" class="btn btn-success"><i class=" glyphicon glyphicon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 btn-container">
                                <div class="btn-group">
                                    <span class="btn btn-warning btn-previous"><i class="glyphicon glyphicon-arrow-left"></i></span>
                                </div>
                                <div class="btn-group pull-right">
                                    <div class="pull-right">
                                        <span class="btn btn-primary btn-next"><i class="glyphicon glyphicon-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="family">
                            <br />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>@Model.GetFieldName(HrCvField.RelativesList)</label>
                                </div>
                            </div>

                            <div class="col-md-12" data-bind='foreach: relatives'>
                                <!--for labels and hint messages, need this row for alignemnt of controls-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.RelativesList_FullName): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.RelativesList_BirthDateAndPlace): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.RelativesList_Degree): </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.RelativesList_FullName)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.RelativesList_BirthDateAndPlace)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <p class="hint-text">@Model.GetFieldHint(HrCvField.RelativesList_Degree)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: FullName, attr: {name: 'RelativesDetailsList[' + $index() + '].FullName'}" />

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: BirthDateAndPlace, attr: {name: 'RelativesDetailsList[' + $index() + '].BirthDateAndPlace'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" data-bind="value: Degree,
                                                    options: $root.relationshipDegrees,
                                                    optionsText: 'Text',
                                                    optionsValue: 'Value',
                                                    attr: {name: 'RelativesDetailsList[' + $index() + '].Degree'}"></select>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.RelativesList_Labor): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>@Model.GetFieldName(HrCvField.RelativesList_Address): </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <p>@Model.GetFieldHint(HrCvField.RelativesList_Labor)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <p>@Model.GetFieldHint(HrCvField.RelativesList_Address)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: LaborDetails, attr: {name: 'RelativesDetailsList[' + $index() + '].LaborDetails'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input class="form-control" data-bind="value: Address, attr: {name: 'RelativesDetailsList[' + $index() + '].Address'}" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <a href="#" data-bind="click: $root.removeRelative" class="btn btn-danger"><i class=" glyphicon glyphicon-minus"></i></a>
                                            <a href="#" data-bind="click: $root.addRelative" class="btn btn-success"><i class=" glyphicon glyphicon-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 btn-container">
                                <div class="btn-group">
                                    <span class="btn btn-warning btn-previous"><i class="glyphicon glyphicon-arrow-left"></i></span>
                                </div>
                                <div class="btn-group pull-right">
                                    <div class="pull-right">
                                        <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/hrFillCv.css" rel="stylesheet" runat="server" />
}

@section scripts {
    <script type='text/javascript' src='~/Scripts/knockout-min.js'></script>

    <script type="text/javascript">
        $('.btn-next').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btn-previous').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#fileItem').change(function () {
                var filename = $(this).val();
                var filePath = $.trim(filename);
                if (filePath == "") {
                    alert("Please browse a file to upload");
                    return;
                }

                var $ext = filePath.split(".").pop().toLowerCase();
                var $allow = new Array("png", "jpg");
                if ($.inArray($ext, $allow) == -1) {
                    alert("Only image files (.png, .jpg) are accepted, please browse a image file");
                    return;
                }
            })
        });
    </script>

    <script type="text/javascript">
        //to handle observable string array
        var item = function (text) {
            var self = this;
            self.Name = ko.observable(text);
        };
        //use ths model for the whole page
        //to add logic for labor, relatives, etc:
        //1. add those to arguments of constructor
        //2. create methods for add and delete
        //3. do not forget about HTML markup
        var CvModel = function (educations, laborDetails, relatives, awards, memberships) {

            var self = this;
            self.educations = ko.observableArray(educations);
            self.laborDetails = ko.observableArray(laborDetails);
            self.relatives = ko.observableArray(relatives);
            self.awards=ko.observableArray(awards);
            self.memberships = ko.observableArray(memberships);

            self.relationshipDegrees = ko.observableArray(@Html.Raw(Json.Encode(Model.RelationshipDegrees)));
            self.awardList = ko.observableArray(@Html.Raw(Json.Encode(Model.AwardsList)));


            self.addEducation = function () {
                self.educations.push(new item(""));
            };

            self.removeEducation = function (education) {
                self.educations.remove(education);
                //add default empty row
                if (self.educations().length == 0)
                    self.addEducation();
            };
            self.addLaborDetail = function () {
                self.laborDetails.push({
                    Years: "",
                    Description: ""
                });
            }
            self.removeLaborDetail = function (labor) {
                self.laborDetails.remove(labor);
                //add default empty row
                if (self.laborDetails().length == 0)
                    self.addLaborDetail();
            }
            self.addRelative=function(){
                self.relatives.push({
                    Degree:"",
                    FullName:"",
                    BirthDateAndPlace:"",
                    LaborDetails:"",
                    Address:""
                });
            }

            self.removeRelative=function(relative){
                self.relatives.remove(relative);
                //add default empty row
                if (self.relatives().length == 0)
                    self.addRelative();
            }

            self.addAward=function(){
                self.awards.push({
                    Award:"",
                    Year:""
                });
            }

            self.removeAward=function(award){
                self.awards.remove(award);
                if (self.awards().length == 0)
                    self.addAward();
            }

            self.addMembership=function(){
                self.memberships.push(new item(""));
            }

            self.removeMembership = function (membership) {

                self.memberships.remove(membership);
                if(self.memberships().length==0)
                    self.addMembership();
            }


        };

        var viewModel = new CvModel(@Html.Raw(Json.Encode(Model.EducationList.Select(e=> new {Name = e }))),
            @Html.Raw(Json.Encode(Model.LaborDetailList.Select(e=> new { Years = e.Years, Description= e.Description}))),
            @Html.Raw(Json.Encode(Model.RelativesDetailsList.Select(e=> new { Degree = e.Degree, FullName= e.FullName, BirthDateAndPlace=e.BirthDateAndPlace, LaborDetails=e.LaborDetails, Address=e.Address}))),
            @Html.Raw(Json.Encode(Model.AwardList.Select(e=> new {Award=e.Award, Year = e.Year }))),
            @Html.Raw(Json.Encode(Model.MembershipList.Select(e=> new {Name = e }))));
        ko.applyBindings(viewModel);

    </script>

}
