@model IEnumerable<INTRANET.Models.HrCvHintVM>
<br />
<div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "HrCvHint")'">Create</button>
</div>
<br />
<table id="hint-table" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-doc-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "HrCvHint", new { id = item.Id })'">Edit</button>
                <button type="button" class="btn btn-danger" onclick="DoComfirm(@item.Id)">Delete</button>    
            </td>
        </tr>
    }

</table>
@section scripts{
    <script type="text/javascript">
        function DoComfirm(id) {
            if (!confirm('Are you sure to delete this record ?')) return;

            $.ajax({
                type: "POST",
                url: "/HrCvHint/Delete",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ id: id }),
                success: function () {
                    $('table#hint-table tr[data-doc-id="' + id + '"]').remove();
                },
                error: function(e){
                    console.log(e);
                }
            });
        }
    </script>

}