@model IEnumerable<INTRANET.Models.HrPositionVM>
<br />
<div>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "HrPosition")'">Create</button>
</div>
<br />
<table class="table">
    <tr>      
        <th>
            @Html.DisplayNameFor(model => model.TitleRu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleUz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleEn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleRu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleUz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitleEn)
        </td>
        <td>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "HrPosition", new { id = item.Id })'">Edit</button>
                   
        </td>
    </tr>
}

</table>
