@model IEnumerable<INTRANET.Models.HrDepartmentVM>

<div>
    <button type="button" class="btn btn-success btn-department" onclick="location.href='@Url.Action("Create", "HrDepartment")'">Create</button>
</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TitleRu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleUz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleEn)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitleRu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleUz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleEn)
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "HrDepartment", new { id = item.Id })'">Edit</button>
            </td>
        </tr>
    }

</table>

@section Styles {
    <link href="~/Content/hrCvDepartment.css" rel="stylesheet" runat="server" />
}
